<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.microServices.providerDeptHystrix8011.dao.DeptDao">

    <insert id="addDept">
        insert into dept(dName, dbSource) value (#{dName}, database());
    </insert>
    <select id="findById" resultType="com.lx.microServices.api.entities.Dept" parameterType="java.lang.Long">
        select deptNo, dName, dbSource from dept where deptNo=#{deptNo};
    </select>
    <select id="findAll" resultType="com.lx.microServices.api.entities.Dept">
        select deptNo, dName, dbSource from dept;
    </select>
</mapper>